body {
    font-size: 12px;
    /* font-family: "Fira Sans OT Medium", sans-serif; */
    font-family: sans-serif;
    color: #595959;
}

/** content styles */
a {
    color: #047398;
}

table.outer {
    width: 100%;
    border-collapse: collapse;
}

table.contentbox {
    width: 800px;
}

table.contentbox td.indent-wedge {
    width: 100px;
}

tr.gap_sm {
    height: 1em;
}

tr.gap_lg {
    height: 2em;
}

.header {
    border-top: 10px solid #047398;
}

.header td.logo {
    text-align: right;
}

.header .buttonbox {
    text-align: right;
}

a.button {
    display: inline-block;
    height: 100%;
    padding: 5px;
    background-color: #047398;
    color: white;
    text-align: center;
    text-decoration: none;
}

.boxborders {
    border: 1px solid #eee;
    border-right: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
}

.deemphasize {
    font-size: 0.9em;
    color: #aaa;
}

.deemphasize a {
    color: #909090;
}


.card {
    width: 100%;
}

.card.todo .status {
    text-align: right;
}

/** components */

.header.component {
    font-size: 1.2rem;
}

.header td.logo img {
    width: 32px;
}

.card.component {
    font-size: 1rem;
}

.card {
    padding: 1em;
    background-color: #fcfcff;
    font-family:
}

.card .header {
    font-size: 1.35em;
}

.card .description {
    font-size: 1.15em;
    white-space: pre-line;
}

.card .header,
.card .status {
    color: #999;
}

.card td.status {
    vertical-align: bottom;
}


.title {
    font-size: 2.2em;
    color: #047398;
    font-weight: 400;
}

.button {
    font-size: 1.3em;
}

.unsubscribe.component {
    font-size: 1.1rem;
}

.unsubscribe {
    text-align: center;
}
