<table class="card component about boxborders" align="center" cellpadding="0" cellspacing="0">
  <tr class="header">
    <td colspan="2">About Do Til Done</td>
  </tr>
  <tr class="gap_sm"/>
  <tr>
    <td colspan="2">
      <p>
        Other helpful Do Til Done emails:
      </p>
      <ul>
        <li><a href="mailto:todo@dotildone.com"><strong>todo</strong>@dotildone.com</a></li>
        <li><a href="mailto:agenda@dotildone.com"><strong>agenda</strong>@dotildone.com</a></li>
        <li><a href="mailto:help@dotildone.com"><strong>help</strong>@dotildone.com</a></li>
      </ul>
      <p class="deemphasize">
        Thanks for using Do Tile Done. I created Do Til
        Done</strong> to manage my todos from the one place I keep
        everything, my inbox. Email, forward, and CC your todos
        to <strong>todo@dotildone.com</strong> to let it work for you.
      </p>
      <p class="deemphasize">- Erick Johnson</p>
    </td>
  </tr>
</table>
